---
import Container from '../layouts/Container.astro';
import CollectionManager from '../components/CollectionManager.vue';
---

<Container>
  <section class="w-full float-left justify-center mt-8 lg:mt-16">
    <CollectionManager client:visible />
  </section>
</Container>
