---
import Container from "../layouts/Container.astro";
import CollectionMenager from "../components/CollectionMenager.vue";
---

<Container>
  <section class="w-full float-left justify-center mt-8 lg:mt-16">
    <CollectionMenager client:visible/>
  </section>
</Container>
