---
import CollectionSection from "../components/CollectionSection.vue";
import Container from "../layouts/Container.astro";
---

<Container>
  <section class="w-full float-left flex justify-center mt-8 lg:mt-16">
    <CollectionSection />
  </section>
</Container>
