---
import LaunchpadSingleCollection from '../components/LaunchpadSingleCollection.vue';
import Container from '../layouts/Container.astro';
---

<Container>
  <section class="w-full float-left justify-center mt-8 lg:mt-16 flex">
    <LaunchpadSingleCollection client:only />
  </section>
</Container>
