---
import LaunchpadBody from '../components/LaunchpadBody.vue';
import Container from '../layouts/Container.astro';
---

<Container>
  <section class="w-full float-left mt-8 lg:mt-16">
    <LaunchpadBody client:visible />
  </section>
</Container>
