---
import MarketplaceBody from '../components/MarketplaceBody.vue';
import Container from '../layouts/Container.astro';
---

<Container>
  <section class="w-full float-left mt-8 lg:mt-16">
    <MarketplaceBody client:only />
  </section>
</Container>
