---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content={description} />
  <meta name="robots" content="index, follow" />
  <meta property="og:title" content={title} />
  <meta property="og:image" content="/evolvnft-logo.svg" />
  <meta property="og:url" content="https://evolvnft.com/" />
  <meta property="og:description" content={description} />
  <meta property="og:type" content="website" />

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="stylesheet" href="/styles/fonts.css" />
  <link rel="stylesheet" href="/styles/style.css" />

  <title>{title}</title>
  <script>
    import buffer from "buffer";
    const { Buffer } = buffer;

    if (!window.Buffer) window.Buffer = Buffer;
  </script>
</head>
