.text-stroke-black-3 {
  -webkit-text-stroke: 3px black;
}
.text-stroke-white-3 {
  -webkit-text-stroke: 3px #fff;
}

::-moz-selection {
  color: white;
  background: yellow;
}
::selection {
  color: white;
  background: rgb(99 102 241);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='range'] {
  -webkit-appearance: none;
  margin-right: 15px;
  border-radius: 5px;
  background-image: linear-gradient(#6366f1, #6366f1);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  background: #6366f1;
}