---
import Main from '../layouts/Main.astro';
import Menu from '../components/Menu.vue';
import Footer from '../components/Footer.vue';
import MobileMenu from '../components/MobileMenu.vue';
import ErrorContainer from '../components/ErrorContainer.vue';

const leftNavItems = [
  { isComingSoon: false, content: "launchpad", href: "/launchpad"  },
  { isComingSoon: true, content: "market" },
  { isComingSoon: true, content: "all collections" },
  { isComingSoon: true, content: "activity" },
  { isComingSoon: false, content: "community", href:"https://discord.gg/mugHDDzv", targetBlank: true},
];
const rightNavItems = [
  { isComingSoon: false, content: "create", href: "/create", isWalletStricted: true},
  { isComingSoon: false, content: "dashboard", href: "/dashboard", isWalletStricted: true},
];
---

<Main
  title="EvolvNFT - evolving launchpad"
  lang="pl"
  description="EvolvNFT is a decentralized NFT ranch and a place to create editable, levelable and evolving metadata for your decentralized assets!"
>
  <div class="container mx-auto">
    <div class="px-8 mx-auto lg:mb-16">
      <Menu
        class="my-8"
        client:visible
        leftNavItems={leftNavItems}
        rightNavItems={rightNavItems}
      />
      <slot />
    </div>
    <MobileMenu client:visible navItems={[...leftNavItems, ...rightNavItems]} />
  </div>
  <ErrorContainer client:visible />
  <Footer class="w-full float-left" />
</Main>
