---
import Head from '../components/Head.astro';

export interface Props {
  title: string;
  lang: string;
  description: string;
  center?: boolean;
}

const { title, lang, description, center } = Astro.props;
---

<html lang={lang}>
  <Head title={title} description={description} />
  <body>
    <main class={center ? 'center' : ''}>
      <slot />
    </main>
  </body>
</html>
